@model IEnumerable<Front.Models.Produto>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

@foreach (var item in Model)
{
    <div class="row1">
        <div class="categoires">
            <div class="container">
                <a href="#">
                    <div class="col-md-4 sections fashion-grid-a">
                        <h6>@item.Produtos_Descricoes.DESCRICAO</h6>
                        <h6>@item.CODIGO_FABRICANTE</h6>
                        <h6>@item.Produto_Estoque.ESTOQUE_INTEIRO</h6>
                        <h6>@item.Produto_Preco.PRECO_VENDA</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
}
